-
	const tabs = [
		{
			name: 'Траффик',
			active: true,
			target: 'Увеличение количества целевых переходов из поиска',
			whom: [
				'Сайты услуг',
				'Тематики с небольшим поисковым спросом',
				'Компании, для которых важно ранжирование по имиджевым запросам',
			],
			price: {
				title: 'от 50 000 ₽/мес.',
				decs: 'Складывается из абонентской части и доплаты за привлеченный трафик. Зависит от сложности проекта и подключенных дополнительных опций.'
			},
			specifications: [
				{
					title: 'Максимальное внимание к важным запросам',
					text: 'Список продвигаемых запросов согласовывается. Производится индивидуальная оптимизация посадочных страниц. Оплачиваются позиции только по согласованным словам.'
				},
				{
					title: 'Ежедневный контроль позиций',
					text: 'Ежедневно собираем позиции в Яндекс и Google по всем продвигаемым регионам. Актуальные позиции загружаются в ваш личный кабинет и доступны к просмотру в любой момент.'
				},
				{
					title: 'Контроль состояния всего сайта',
					text: 'По ряду факторов проводится анализ всего сайта, а не только продвигаемых страниц — техническая оптимизация, работа с коммерческими и поведенческими факторами.'
				},
				{
					title: 'Работа с коммерческими факторами и юзабилити',
					text: 'Анализируем поведенческие факторы и удобство использования сайта. Работаем над повышением конверсии трафика по продвигаемым запросам.'
				},
				{
					title: 'Стоимость продвижения устанавливается за 1 день в ТОП.',
				},
				{
					title: 'Определяется разная стоимость нахождения в ТОП1, ТОП3, ТОП5 и ТОП10.',
				},
				{
					title: 'По согласованию список запросов и регионов может изменяться и расширяться.',
				},
				{
					title: 'Продвижение по позициям может быть дополнительной опцией к продвижению по трафику.',
				},
			],
			btn: {
				text: 'Получить индивидуальное предложение'
			}
		},
		{
			name: 'Фикс',
			target: 'Увеличение количества целевых переходов из поиска',
			whom: [
				'Сайты услуг',
				'Тематики с небольшим поисковым спросом',
				'Компании, для которых важно ранжирование по имиджевым запросам',
			],
			price: {
				title: 'от 50 000 ₽/мес.',
				decs: 'Складывается из абонентской части и доплаты за привлеченный трафик. Зависит от сложности проекта и подключенных дополнительных опций.'
			},
			specifications: [
				{
					title: 'Максимальное внимание к важным запросам',
					text: 'Список продвигаемых запросов согласовывается. Производится индивидуальная оптимизация посадочных страниц. Оплачиваются позиции только по согласованным словам.'
				},
				{
					title: 'Ежедневный контроль позиций',
					text: 'Ежедневно собираем позиции в Яндекс и Google по всем продвигаемым регионам. Актуальные позиции загружаются в ваш личный кабинет и доступны к просмотру в любой момент.'
				},
				{
					title: 'Контроль состояния всего сайта',
					text: 'По ряду факторов проводится анализ всего сайта, а не только продвигаемых страниц — техническая оптимизация, работа с коммерческими и поведенческими факторами.'
				},
				{
					title: 'Работа с коммерческими факторами и юзабилити',
					text: 'Анализируем поведенческие факторы и удобство использования сайта. Работаем над повышением конверсии трафика по продвигаемым запросам.'
				},
				{
					title: 'Стоимость продвижения устанавливается за 1 день в ТОП.',
				},
				{
					title: 'Определяется разная стоимость нахождения в ТОП1, ТОП3, ТОП5 и ТОП10.',
				},
				{
					title: 'По согласованию список запросов и регионов может изменяться и расширяться.',
				},
				{
					title: 'Продвижение по позициям может быть дополнительной опцией к продвижению по трафику.',
				},
			],
			btn: {
				text: 'Получить индивидуальное предложение'
			}
		},
		{
			name: 'Позиции',
			target: 'Увеличение количества целевых переходов из поиска',
			whom: [
				'Сайты услуг',
				'Тематики с небольшим поисковым спросом',
				'Компании, для которых важно ранжирование по имиджевым запросам',
			],
			price: {
				title: 'от 50 000 ₽/мес.',
				decs: 'Складывается из абонентской части и доплаты за привлеченный трафик. Зависит от сложности проекта и подключенных дополнительных опций.'
			},
			specifications: [
				{
					title: 'Максимальное внимание к важным запросам',
					text: 'Список продвигаемых запросов согласовывается. Производится индивидуальная оптимизация посадочных страниц. Оплачиваются позиции только по согласованным словам.'
				},
				{
					title: 'Ежедневный контроль позиций',
					text: 'Ежедневно собираем позиции в Яндекс и Google по всем продвигаемым регионам. Актуальные позиции загружаются в ваш личный кабинет и доступны к просмотру в любой момент.'
				},
				{
					title: 'Контроль состояния всего сайта',
					text: 'По ряду факторов проводится анализ всего сайта, а не только продвигаемых страниц — техническая оптимизация, работа с коммерческими и поведенческими факторами.'
				},
				{
					title: 'Работа с коммерческими факторами и юзабилити',
					text: 'Анализируем поведенческие факторы и удобство использования сайта. Работаем над повышением конверсии трафика по продвигаемым запросам.'
				},
				{
					title: 'Стоимость продвижения устанавливается за 1 день в ТОП.',
				},
				{
					title: 'Определяется разная стоимость нахождения в ТОП1, ТОП3, ТОП5 и ТОП10.',
				},
				{
					title: 'По согласованию список запросов и регионов может изменяться и расширяться.',
				},
				{
					title: 'Продвижение по позициям может быть дополнительной опцией к продвижению по трафику.',
				},
			],
			btn: {
				text: 'Получить индивидуальное предложение'
			}
		},
	]

section.section
	.b-formats
		h2.h2._title Форматы SEO-продвижения
		._tabs
			each tab in tabs
				button._tab(
					class=tab.active && 'formats__tab--active'
				)= tab.name
		._cards
			each card in tabs
				.b-formats-card._card(
					class=card.active && 'formats-card--active'
					style=!card.active ? 'display:none;' : null
				)
					._header
						._header-item._target
							h4.h4._title Цель
							._accent-text= card.target
						._header-item._whom
							h4.h4._title Кому подойдет
							ul._simple-list
								each item in card.whom
									li._simple-item= item
						._header-item._price
							h4.h4._title Стоимость
							._accent-text= card.price.title
							._desc= card.price.decs
					._body
						h4.h4._title Кому подойдет
						ul._spec-list
							each item in card.specifications
								li._spec-item
									._spec-title= item.title
									._spec-text= item.text
					._footer
						._btn-wrap
							button._btn.btn.btn--blue.btn--flat= card.btn.text
