-
	const cards = [
		{
			name: 'Настройка кампаний',
			code: 'setting',
			promo: '',
			text: 'Настраиваем рекламные кампании в популярных соцсетях. Находим вашу целевую аудиторию и помогаем завоевать ее доверие.',
			lists: [
				{
					title: 'Список работ',
					list: [
						'Разработка стратегии продвижения',
						'Регистрация рекламного кабинета',
						'Формирование базы ЦА',
						'Создание и оформление рекламных объявлений и промопостов',
						'Сбор данных для ретаргетинга, установка кода ретаргетинга на сайт',
						'Запуск рекламной кампании'
					]
				}
			],
			price: 'от 12 000 ₽/мес',
		},
		{
			name: 'Ведение кампаний',
			code: 'flow',
			promo: 'Скидка 50% на дополнительную соцсеть',
			text: 'Проводим аудит действующих кампаний, настраиваем аналитику, тестируем посты и креативы,  корректируем кампании для получения стабильного потока заявок.',
			lists: [
				{
					title: 'Список работ',
					list: [
						'Настройка и контроль систем аналитики',
						'Модерация рекламных объявлений',
						'Разработка новых креативов для A/B-тестирования',
						'Ретаргетинг по собранным аудиториям',
						'Контроль и управление бюджетом',
						'Отслеживание эффективности рекламных кампаний',
						'Ежемесячный отчет по работам'
					]
				}
			],
			price: 'от 10 000 ₽/мес',
		},
	]

section.section
	.b-target-prices
		h2.h2._title Тарифы на таргетированную рекламу
		._cards
			each card in cards
				.b-target-card._card
					._name= card.name
					._desc= card.text
					each list in card.lists
						._set
							._list-title= list.title
							ul._list
								each item in list.list
									li._item= item
					._price= card.price
					button._btn.btn.btn--flat.btn--blue Заказать консультацию
					if card.promo
						._badge= card.promo
