-
    const cards = [
        {
            id: 'med-promotion-1',
            image: 'image359',
            title: 'Многопрофильные клиники',
            listTitle: '',
            list: [
                "Проработка структуры разделов услуг как для поисковых систем, так и для пользователя.",
                "Проработка факторов экспертности по каждому направлению услуг.",
                "Проработка шаблонов страниц услуг по каждому направлению профиля.",
                "Работа над полным охватом продвигаемой семантики. Работа с активной СЯ и ее расширение.",
                "Проработка раздела «Врачи» с ориентацией на многопрофильность клиники.",
                "Проработка раздела «Контакты», а также информации о контактах на страницах услуг и на картах. Очень важно для данной тематики, так как пользователю нужно прибыть к месту оказания услуги.",
            ]
        },
        {
            id: 'med-promotion-2',
            image: 'image358',
            title: 'Диагностические центры',
            listTitle: 'Что важно при продвижении сайта диагностического центра?',
            list: [
                "Упор на более сложные транзакционные запросы в семантике, например: пройти МР-ангиографию сосудов.",
                "Проработка шаблонов услуг с точки зрения конвертируемости в заявки (запись на прием).",
                "Грамотная проработка структуры услуг для эффективного продвижения и быстрого поиска пользователем необходимого направления диагностики.",
                "Проработка не только страниц услуг, но и профилей врачей под конкретные направления диагностики и запись на них.",
                "Корректировка шаблона страниц услуг для глубокой проработки релевантности по интенту запросов и LSI вхождениям.",
                "Работа над представлением данных о геолокации как на самом сайте, так и на картах Яндекс и Google.",
            ]
        },
        {
            id: 'med-promotion-3',
            image: 'image360',
            title: 'Фармкомпании',
            listTitle: 'Что важно при продвижении фармацевтической компании?',
            list: [
                "При продвижении фармацевтики важно учесть все нюансы, например запрет на рекламу рецептурных препаратов.",
                "Разработка УТП (уникального торгового предложения), которое будет отличать нас от конкурентов.",
                "Изучение продукта, исследование аудитории и рынка конкурентов.",
                "Отражение УТП и продающих триггеров в прототипах и ТЗ, для удобства согласования и реализации на сайте.",
                "Сбор семантики исходя из спроса. Разработка стратегии для повышения спроса на рынке на данные препараты.",
                "Стандартные работы по отработке экспертности медицинской компании/сайта.",
            ]
        },
        {
            id: 'med-promotion-4',
            image: 'image361',
            title: 'Косметологии',
            listTitle: 'Что важно учесть при продвижении сайта косметологии?',
            list: [
                "Грамотно проработанная иерархия разделов услуг. Наличие меню на 100% понятного для пользователя.",
                "Проработка в разделе «Косметологи/Врачи» профиля каждого врача. Перечисление информации об образовании, опыте, специализации.",
                "Высокая информативность и визуализация. Здесь важны как фото самих кабинетов и аппаратов, так и лица врачей.",
                "Наличие полного прайса на услуги косметолога по всем направлениям услуг с возможностью записи на прием на конкретную услугу и к конкретному врачу.",
                "Очень желательно наличие фотография ДО и ПОСЛЕ процедуры. Также наличие описаний с показаниями и действием процедуры.",
                "Точечная проработка шаблонов страниц услуг с точки зрения всех необходимых элементов для ранжирования в ПС и высокой конверсии (в том числе предложение сопутствующих услуг).",
            ]
        },
        {
            id: 'med-promotion-5',
            image: 'image362',
            title: 'Стоматологии',
            listTitle: 'Важные критерии для продвижения сайта стоматологии:',
            list: [
                "Грамотная проработка навигации по услугам сайта. Разделение взрослой и детской стоматологии.",
                "Наличие понятного прайс-листа как в отдельном разделе, так и на страницах услуг.",
                "Наличие УТП (уникального торгового предложения), например акции и скидки на последующие услуги, беспроцентная рассрочка.",
                "Проработка раздела врачей с созданием отдельной страницы под профиль каждого врача (с указанием образования, опыта, специализации).",
                "Работа с репутаций клиники. Наличие отзывов со сканами или скринами из мессенджеров. Работа с отзывами на внешних площадках.",
                "Наличие функционала удобной записи на прием по конкретному адресу и направлению услуги к желаемому врачу на выбранное время.",
            ]
        },
        {
            id: 'med-promotion-6',
            image: 'image363',
            title: 'Больницы',
            listTitle: 'Особенности при продвижении сайта больницы:',
            list: [
                "Подбор СЯ с подходящим интентом. Важно, чтобы в семантике были только ключи, предполагающие лечение с госпитализацией.",
                "Проработка страниц услуг с анонсированием всей необходимой инфо с показаниями и подготовке к госпитализации.",
                "Акцентирование на качестве лечения с госпитализацией в нашей больнице. Добавление УТП и конверсионных триггеров.",
                "Наличие фотографий врачей и медицинского персонала с указанием имен и специализаций, а также ссылкой на отдельную страницу подробно заполненного профиля.",
                "Обязательное наличие фотографий палат разного класса с указанием цен и перечислением услуг, которые входят в цену.",
                "Материалы, подтверждающие экспертность медучреждения в целом. Наличие сканов лицензий, номера государственной аккредитации."
            ]
        },
    ]

section.section
    .b-promotion
        h2.h2._title Мы продвигаем медицинские сайты в топ 3
        ._cards
            each card in cards
                button(
                    data-fancybox
                    data-src='#' + card.id
                )._card= card.title
                ._description(
                    style='display: none'
                    id= card.id
                )
                    ._modal-content
                        picture._picture
                            source(
                                srcset= 'images/content/' + card.image + '.jpg 1x, images/content/' + card.image + '@2x.jpg 2x'
                                type= 'image/jpeg'
                            )
                            img(
                                src= 'images/content/' + card.image + '.jpg'
                                alt= card.title
                            )
                        ._title= card.title
                        if card.listTitle
                            ._list-caption= card.listTitle
                        ul._list
                            each item in card.list
                                li._item= item
                        button.b-btn.-flat.-blue._btn(data-target='price-type-' + card.id) Заказать консультацию
